<%= form_with(model: @post, local: true, class: "form", url: choose_index_or_edit) do |form| %>
  <p style="color: green"><%= notice %></p>
  <% if @post.errors.any? %>
      <ul style="color: red">
      <% @post.errors.full_messages.each do |msg| %>
        <li style="list-style: none"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="post_content">
    <%= form.text_area :content, size: "35x4", placeholder: "what's happening ?" %>
  </div>
  <%= form.submit "Tweet", class: "submit-btn"%>
<% end %>