<p style="color: green"><%= notice %></p>
<%= render 'form' %>
<p>LISTE DES POSTS</p>
<table>
    <% @posts.each do |post| %>
    <tr>
        <td><%= post.content %></td>
        <td><%= post.updated_at %></td>
        <td><%= link_to 'Show', post_path(post.id) %></td>
        <td><%= link_to 'Edit', edit_post_path(post.id) %></td>
        <td><%= link_to 'Delete', post_path(post.id), method: :delete, data: {confirm: "Voulez-vous vraiment supprimer ce Tweet ?"} %></td>
    </tr>
    <% end if @posts %>
</table>
