<%= render 'layouts/header'%>
<section class="middle">
    <p class="home">Post's Details</p>
      <article>
        <div class="posts">
          <p class="post-date"><span style="font-weight: bold">Date de post : </span><%= @post.updated_at %></p>
          <p class="post-date"><span style="font-weight: bold">Date de modification : </span><%= @post.updated_at %></p>
          <div class="post">
            <p class="post-content"><%= @post.content %></p>
          </div>
        </div>
      </article>
    </section>
<%= render 'layouts/footer' %>